<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.opensixen.dev.omvc.UpdateMenuAction"
         point="org.opensixen.osgi.interfaces.IMenuAction">
      <client
            class="org.opensixen.dev.omvc.UpdateMenuAction">
      </client>
   </extension>
   <extension
         point="org.opensixen.osgi.interfaces.IMenuAction">
      <client
            class="org.opensixen.dev.omvc.SuscribeMenuAction">
      </client>
   </extension>
   <extension
         point="org.opensixen.osgi.interfaces.IMenuAction">
      <client
            class="org.opensixen.dev.omvc.RunICommandMenuAction">
      </client>
   </extension>

</plugin>
